<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xezoWall.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA8869DE28DA892C0069CF0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA8869F728DA892D0069CF0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA886A0128DA892D0069CF0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
